<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedBass" version="2.0.4" targetFramework="monoandroid90" />
  <package id="ManagedBass.Fx" version="2.0.1" targetFramework="monoandroid90" />
  <package id="ppy.osuTK.Android" version="1.0.13" targetFramework="monoandroid80" />
  <package id="ppy.osuTK.NS20" version="1.0.13" targetFramework="monoandroid80" />
</packages>