<configuration>
  <dllmap dll="bass_ac3" target="__Internal"/>
  <dllmap dll="bass_ape" target="__Internal"/>
  <dllmap dll="bassdsd" target="__Internal"/>
  <dllmap dll="bassflac" target="__Internal"/>
  <dllmap dll="bass_fx" target="__Internal"/>
  <dllmap dll="basshls" target="__Internal"/>
  <dllmap dll="bassmix" target="__Internal"/>
  <dllmap dll="bass_mpc" target="__Internal"/>
  <dllmap dll="bassopus" target="__Internal"/>
  <dllmap dll="bass_spx" target="__Internal"/>
  <dllmap dll="tags" target="__Internal"/>
  <dllmap dll="bass_tta" target="__Internal"/>
  <dllmap dll="basswv" target="__Internal"/>
  <dllmap dll="basszxtune" target="__Internal"/>
</configuration>